<h1>RESULTS</h1>

<% if @valid_word %>
  <p>Congratulations! "<%= @word %>" is a valid word.</p>
<% else %>
  <p>Sorry, but "<%= @word %>" cannot be built out of the given letters.</p>
<% end %>

<%= link_to "Play Again", root_path, class: "btn btn-primary" %>
